<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>Word Wrap</h1>
</header>
<div class="flexbox">
  <div class="left">
    <form class="flexbox" (ngSubmit)="handleClick()">
      <label for="number">Insira a quantidade de caracteres por linha</label>
      <input id="number" class="item small" [(ngModel)]="numLines" type="text" name="number">
      <label for="text-area">Insira o seu texto: </label>
      <textarea [(ngModel)]="text" id="text-area" class="item large" name="text"></textarea>
    <button class="item small submit-btn" type="submit">Wrap Text</button>
    </form>
  </div>
  <div class="right">
      <h1>Texto com Wrap: </h1>
      <div *ngIf="lines">
        <p *ngFor="let line of lines">{{line}}</p>
      </div>
  </div>
</div>

